In [1]:
# Get the census track file
import geopandas as gpd

gdf = gpd.read_file('../data/census_tracks/il_tracts.dbf')

gdf.to_file("../data.geojson", driver='GeoJSON')

In [3]:
gdf.head(5)

AttributeError: 'NoneType' object has no attribute 'copy'

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,17,161,022800,17161022800,1400000US17161022800,228,Census Tract 228,G5020,S,2103943,0,+41.4991066,-090.5472913,"POLYGON ((-90.55724 41.49433, -90.55724 41.494..."
1,17,161,022900,17161022900,1400000US17161022900,229,Census Tract 229,G5020,S,1311568,0,+41.4897868,-090.5477824,"POLYGON ((-90.55731 41.49337, -90.55727 41.493..."
2,17,161,023000,17161023000,1400000US17161023000,230,Census Tract 230,G5020,S,4680875,127822,+41.4757633,-090.5435406,"POLYGON ((-90.55779 41.46279, -90.55772 41.463..."
3,17,161,023100,17161023100,1400000US17161023100,231,Census Tract 231,G5020,S,3496624,66115,+41.4684205,-090.5721252,"POLYGON ((-90.5826 41.46694, -90.5826 41.46714..."
4,17,019,010901,17019010901,1400000US17019010901,109.01,Census Tract 109.01,G5020,S,140475117,118829,+39.9889767,-088.2028522,"POLYGON ((-88.27831 39.88075, -88.27786 39.883..."

In [ ]:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File ~/Library/CloudStorage/GoogleDrive-afcamachob@uchicago.edu/My Drive/CS30122/Final project/30122-project-treehuggers/.venv/lib/python3.12/site-packages/IPython/core/formatters.py:402, in BaseFormatter.__call__(self, obj)
    400     pass
    401 else:
--> 402     return printer(obj)
    403 # Finally look for special method names
    404 method = get_real_method(obj, self.print_method)

Cell In[1], line 227, in __DW_OUTPUT_FORMATTER__.<locals>.DataWrangler.formatter(cls, var, **kwargs)
    225 @classmethod
    226 def formatter(cls, var, **kwargs):
--> 227     s = cls(var, **kwargs)
    228     return s._repr_dw_()

Cell In[1], line 221, in __DW_OUTPUT_FORMATTER__.<locals>.DataWrangler.__init__(self, expr_val)
    218 self.id = str(uuid.uuid4())
    219 pandas_df, conversion_method = api["pandas_transport"]["convert_to_pandas"](expr_val)
    220 tmp_vars[self.id] = {
--> 221     "converted": pandas_df.copy(deep=False), # create a shallow copy in case a displayed object is mutated in the same cell
    222     "conversion_method": conversion_method
    223 }

AttributeError: 'NoneType' object has no attribute 'copy'

In [ ]:
gdf.head(5)

AttributeError: 'NoneType' object has no attribute 'copy'

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,17,161,022800,17161022800,1400000US17161022800,228,Census Tract 228,G5020,S,2103943,0,+41.4991066,-090.5472913,"POLYGON ((-90.55724 41.49433, -90.55724 41.494..."
1,17,161,022900,17161022900,1400000US17161022900,229,Census Tract 229,G5020,S,1311568,0,+41.4897868,-090.5477824,"POLYGON ((-90.55731 41.49337, -90.55727 41.493..."
2,17,161,023000,17161023000,1400000US17161023000,230,Census Tract 230,G5020,S,4680875,127822,+41.4757633,-090.5435406,"POLYGON ((-90.55779 41.46279, -90.55772 41.463..."
3,17,161,023100,17161023100,1400000US17161023100,231,Census Tract 231,G5020,S,3496624,66115,+41.4684205,-090.5721252,"POLYGON ((-90.5826 41.46694, -90.5826 41.46714..."
4,17,019,010901,17019010901,1400000US17019010901,109.01,Census Tract 109.01,G5020,S,140475117,118829,+39.9889767,-088.2028522,"POLYGON ((-88.27831 39.88075, -88.27786 39.883..."